html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-container {
  background-color: rgba(255, 255, 255, 0.911961);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  height: 50px;
  width: 100%;
  z-index: 9999;
}

.hero-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.hero-image h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 3px 0px black;
  padding: 20px 20px 20px 20px;
  text-align: center;
}
